* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(../assets/images/bg/watermark1.png);
  background-size: cover;
}

/*Nav bar*/

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 1500;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
}

.logo {
  position: relative;
}

.logo img {
  position: absolute;
  width: 55px;
  top: -30px;
}

.nav-links {
  display: flex;
  /*justify-content: space-around;*/
  position: relative;
  left: 140px;
}

.nav-links-item {
  list-style: none;
  padding: 10px;
  padding-left: 15px;
}

.nav-item-active a {
  color: #1c1b1d !important;
}

.nav-links-freeQuote a button:hover {
  background:  #2980b9;
}

.nav-links-freeQuote {
  list-style: none;
}

.nav-links-freeQuote a button {
  color: white;
  background:  #02457A;
  border-radius: 10px;
  border:none;
  padding:10px;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.nav-item-text {
  color: white !important;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #1c1b1d;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 200;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links-sideIcon {
  position: relative;
  width: 100%;
}

.nav-links-sideIcon i {
  position: absolute;
  right: 140px;
  top: 4px;
  font-size: 10px;
  color:  #02457A;
}

.nav-links-sideLine {
  border: 0.1px solid  #02457A;
  width: 140px;
  right: -5px;
  position: absolute;
  top: 9px;
}

/* Nav social*/

.nav-socials {
  position: relative;
  top: 14vh;
  right: 130px;
}

.nav-socials li {
  display: inline-block;
  list-style: none;
}

.nav-icon-size {
  font-size: 24px;
  padding-left: 3px;
}

.title-icon-size {
  font-size: 10px;
    transform: rotate(45deg);
    padding: 0 5px;
    top: -7px;
    position: relative;
}

.title-icon-size-sm {
  font-size: 8px;
    transform: rotate(45deg);
    padding: 0 5px;
    top: -5px;
    position: relative;
    color: #02457A;
}

.title-icon-size-md {
  font-size: 8px;
    transform: rotate(45deg);
    padding: 0 5px;
    top: -3px;
    position: relative;
    color: #02457A;
}

.facebook {
  color:  #3b5998;
}

.star {
	color:  #02457A;
}

.priColor {
	color:  #02457A;
}

.pinterest {
  color:  #c8232c;
}

.instagram {
  /*color:  #02457A;*/
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.envelope {
  color:   #00a2ed;
}

.whatsapp {
  color:  #25d366;
}

.nav-socials-sideIcon {
  position: relative;
  width: 100%;
  color:  #02457A;
}

.nav-socials-sideIcon i {
  position: absolute;
  right: 125px;
  top: -12px;
  font-size: 8px;
}

.nav-socials-sideLine {
  border: 0.1px solid  #02457A;
  width: 110px;
  right: 10px;
  position: absolute;
  top: -8px;
}

/* image carousel */

.main-container {
  position: relative;
  padding-top: 25vh;
  padding-bottom: 30px;
}

.mainPage__seemore {
	position: relative;
	text-align: center;
	padding-top: 5px;
}

.mainPage__seemore a {
	text-decoration: none;
    color: black;
    border: 1px solid #02457A;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 400;
}

.mainPage__seemore a:hover {
	background: #02457A;
    color: white;
    border: 1px solid #02457A;
}



.mainPage__seemorePromotions {
	position: relative;
	text-align: center;
	top: -8px;
}

.mainPage__seemorePromotions a {
	text-decoration: none;
    color: white;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 400;
}

.mainPage__smallIcon {
	position: relative;
	margin: auto;
	max-width: 1200px;
	padding: 0 20px;
}

.mainPage-sideLine {
	border: 1px solid white;
	width: 92%;
	left: 50px;
	position: absolute;
	top: 0px;
}

.mainPage-icon-sizeLeft{
position: absolute;
	top: -4px;
	font-size: 10px;
}

.mainPage-icon-sizeRight{
	position: absolute;
	top: -4px;
	right: 18px;
	font-size: 10px;
}

.mainPage__header-promotions {
  position: relative;
  padding: 30px;
}

.mainPage__header-promotions h2 {
  font-size: 32px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

/* about us */
.aboutus__container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

.pg-top {
  padding-top: 20vh;
}

.pg-top-pj {
  padding-top: 25vh;
}

.pg-top-icon {
  padding-top: 20px !important;
}

.pg-btm {
  padding-bottom: 50px;
}

.pg-btm-testimonials {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.aboutus__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.aboutus__header {
  position: relative;
  padding: 30px;
}

.aboutus__header h2 {
  font-size: 32px;
  text-align: center;
  color: #1c1b1d;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.aboutus__header p {
  color: #757575;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.5px;
}

.aboutus__img {
  width: 60%;
  margin: auto;
}

.aboutus__img img {
  width: 100%;
  border-radius: 10px;
}

.aboutus__row {
  display: flex;
  flex-wrap: wrap;
}

.aboutus__col {
  /*flex: 50%;*/
  max-width: 60%;
  box-sizing: border-box;
  padding: 15px;
}

.aboutus__col1 {
  flex: 1;
}

.aboutus__col2 {
  flex: 2;
}

.aboutus__col img {
  width: 100%;
}

.aboutus__col p:nth-child(1) {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 30px;
  font-weight: 600;
}

.aboutus__col p:nth-child(2),
.aboutus__col p:nth-child(3),
.aboutus__col p:nth-child(4) {
  font-size: 16px;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

/* flex */

.aboutus-container__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.aboutus-container__row {
  display: flex;
  flex-wrap: wrap;
}

.aboutus__flt-text {
  float: right;
}

.aboutus__flt-text {
  float: left;
  text-align: right;
}

.aboutus-container__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 15px;
}

.aboutus-container__col p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-top: 20px;
  color: #1c1b1d;
}

.aboutus-container__col h2 {
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-top: 20px;
  color: #1c1b1d;
}

.teams-mg-btm {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.teams-bg {
  background: #333333;
}

.teams__header {
  position: relative;
  padding: 30px;
}

.teams__header h2 {
  font-size: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.teams-container img {
  width: 100%;
  border-radius: 10px;
}

.teams-container p {
  width: 100%;
}

.teams-container__col {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 15px;
}

.teams-container__col p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-top: 20px;
  color: white;
}

/* Services */
.services-container__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 15px;
}

.services__img {
  padding: 30px 30px 0 30px;
  width: 80%;
  margin: auto;
}

.services__img img {
  width: 100%;
  border-radius: 10px;
}

.services-container__col p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-top: 5px;
  line-height: 1.6;
  color: white;
}

.services-container__col ul li {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: left;
  padding-top: 30px;
}

.services-container__col h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-top: 20px;
  color: white;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.services-container__col h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
  text-align: left;
  padding-top: 30px;
  text-transform: uppercase;
}

/* service timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  margin-top: 100px;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
  margin-bottom: 50px;
}

.container-header {
  left: 30%;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Container around content */
.container,
.container1 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  top: 15px;
  z-index: 1;
}

.container1::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid black;
  top: 15px;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 10%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content img {
  width: 100%;
  border-radius: 10px;
}

.content-header {
  padding: 0 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content-header h2 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  padding-top: 2px;
}

.timeline-container__col {
  flex: 50%;
  max-width: 70%;
  box-sizing: border-box;
  padding: 15px;
}

.timeline__max_width {
  max-width: 25%;
}

.btn-seeMore {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.btn-seeMore a {
  position: relative;
  left: 80%;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.btn-seeMore__st {
  top: 60px;
}

/* promotions */
.promotions__img img {
  width: 100%;
}

.promotions__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px 20px;
}

/* blogs */
.blogs__body__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px 100px;
}

.blogs__body__inner h2 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1c1b1d;
  text-align: center;
}

.blogs__body__inner p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-top: 10px;
  line-height: 1.6;
  color: #1c1b1d;
}

#more {
  display: none;
}

/* career */
.career-container__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 15px;
}

.career-container__col ul li {
  font-size: 14px;
  font-weight: 300;
  color: black;
  padding-top: 10px;
  list-style-position: inside;
  text-align: center;
}

.career-container__col h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #1c1b1d;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.career-container__col h3 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-top: 30px;
  color: #1c1b1d;
  text-align: center;
  text-transform: uppercase;
}

.career-container__col p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  line-height: 1.6;
  text-align: center;
  color: #1c1b1d;
}

.career-header {
  place-self: center;
  align-self: center;
}

.career-header h2 {
  padding-bottom: 50px;
  font-size: 20px;
}

/* contacts */
.contacts-container__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.contacts-details__row {
  display: flex;
  flex-wrap: wrap;
}

.contacts-container__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 15px;
}

.social-media-contact-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.social-media-contact-list i {
  font-size: 35px;
  margin-right: 10px;
}

.contacts-container__col p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #1c1b1d;
  text-align: center;
}

.text-pg-top {
  padding-top: 20px;
}
.contacts-container__col p:nth-child(3) {
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 10px;
  color: #1c1b1d;
  text-align: center;
}

.contacts-container__row h2 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #1c1b1d;
  padding: 20px;
}

.contacts-container__col h1 {
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
  color: #1c1b1d;
  text-transform: uppercase;
  text-align: center;
}

.contacts-container__col label {
  font-size: 14px;
  padding: 10px;
  color: #1c1b1d;
  text-transform: uppercase;
}

.contacts-container__col select {
  font-size: 14px;
  text-align-last: center;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: white;
  padding: 10px 10px;
  color: #1c1b1d;
}

.contacts-form__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.contacts-form-ct__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.contacts-form__col input {
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ccc;
  background: white;
  padding: 10px 10px;
  color: #1c1b1d;
}

.contacts-form-ct__col input {
  text-align: center;
  width: 100%;
  display: table;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ccc;
  background: white;
  padding: 10px 10px;
  color: #1c1b1d;
}

.txt_box textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: white;
  padding: 10px 10px;
  color: #1c1b1d;
  resize: none;
  height: 120px;
}

.contact-form-btn {
  border: 0;
  background:  #02457A;
  color: #fff;
  padding: 12px 50px;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
  border-radius: 10px;
}
.contact-form-btn:hover {
  background: #2980b9;
}

#iskeyCollected {
  display: none;
}

/* contacts icon*/
.contacts-form-icon__row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.contacts-form-icon__col {
  flex: 25%;
  max-width: 25%;
  padding: 10px;
  text-align: center;
}

.contacts-form-icon__col p {
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-bottom: 3px;
  color: #1c1b1d;
  text-align: center;
}

.contacts-form-icon__col [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.contact-align {
	align-self: center;
	display: flex;
}
/* IMAGE STYLES */
.contacts-form-icon__col [type="radio"] + img {
  cursor: pointer;
  width: 55px;
}

.contacts-form-icon__col [type="radio"] + img +img {
  cursor: pointer;
  width: 65px;
}

/* CHECKED STYLES */
.contacts-form-icon__col [type="radio"]:checked + img +img + p {
  color:  #02457A;
}

#landed1,
#hdb,
#commercial1,
#condo1 {
	display: none;
}

/* testimonials*/
#testimonialLists li {
  display: none;
  list-style: none;
}
#loadMore {
  color: #02457A;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
#loadMore:hover {
  color: black;
}

.testimonials-container__row {
  display: flex;
  flex-wrap: wrap;
}

.testimonials-container__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonials {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.testimonials__img {
  width: 100%;
}

.testimonials__img img {
  width: 100%;
  border-radius: 10px 10px 0 0 ;
}

.testimonials__text {
  width: 100%;
  padding: 10px;
}

.testimonials__text p {
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #1c1b1d;
  text-align: left;
}

.testimonials__text p:nth-child(3) {
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #1c1b1d;
  text-align: right;
}

/* projects */
.swiper-container-sm {
  display: none;
}
.projects__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0px 5px;
}

.projects__btn {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: none;
}

.projects__btn button {
  font-size: 16px;
  color: #1c1b1d;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #ccc;
}

.projects__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.projects__first-inner {
  flex: 75%;
  padding-left: 10px;
}

.projects__second-inner {
  flex: 30%;
  padding-right: 10px;
}

.projects__row {
  display: flex;
  flex-wrap: wrap;
}

.projects__main-col {
  width: 68%;
  padding: 4px;
  place-self: center;
}

.projects__side-col {
  width: 23%;
  padding: 4px;
  place-self: center;
}

.projects__lists-col {
  width: 30%;
  padding: 4px;
  place-self: center;
}

.border-right {
  border-radius: 10px;
}

.border-left {
  border-radius: 10px;
}

.border-all {
  border-radius: 10px;
}

.projects__img {
  width: 100%;
}

.projects__img img {
  width: 100%;
}

.projects__side-img {
	position: relative;
}

.projects__side-img img {
  width: 100%;
}

.projects__middle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #02457A;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.projects__img:hover .projects__middle,
.projects__side-img:hover .projects__middle {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.projects__img:hover .projects__middle-text,
.projects__side-img:hover .projects__middle-text {
  display: block;
}

.projects__img .projects__middle-text {
   color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects__side-img .projects__middle-text {
   color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects__name,
.projects__all {
  position: relative;
}

.projects__name p {
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.projects__all .blur {
  position: absolute;
  background:#02457A ;
  opacity: 0.6;
  width: 96%;
  height: 93%;
  left: 3px;
  margin: 4px 0px 0px 2px;
  top: 0;
  text-align: center;
  display: flex;
  place-items: center;
  place-content: center;
  border-radius: 10px;
}

.projects__all p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  width: 96%;
  height: 93%;
  left: 3px;
  margin: 4px 0px 0px 2px;
  top: 0;
  text-align: center;
  display: flex;
  place-items: center;
  place-content: center;
  border-radius: 20px;
}

/* projects form */
.projects__form {
  box-shadow: 1px 4px 5px 0px #ccc;
  padding: 10px 10px;
  border-radius: 10px;
}

.projects__form-list h1 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px;
}

.projects-form__row {
  display: flex;
  flex-wrap: nowrap;
}

.projects-form__col {
  width: 50%;
  max-width: 50%;
  padding: 3px;
}

.projects-form__col label {
  font-size: 13px;
  font-weight: 500;
}

.rowLabal {
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}

.projects-form__col select {
  padding: 5px 5px;
  margin: 3px 0;
  border: 1px solid #ccc;
  display: table;
  width: 100%;
  border-radius: 3px;
}

.projects-form__col input {
  padding: 5px 5px;
  margin: 3px 0;
  border: 1px solid #ccc;
  display: table;
  width: 100%;
  border-radius: 3px;
}

.projects-txt_box textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ccc;
  background: white;
  padding: 10px 10px;
  color: #1c1b1d;
  resize: none;
  height: 100px;
  border-radius: 3px;
}

/* reviews */
.reviews__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.reviews__header h2 {
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.review__header h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 20px;
}

.review__header p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #1c1b1d;
  padding: 3px 0;
}

.review__header p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #c1c1c1;
}

.review-sideLine {
    border: 1px solid #02457A;
    width: 35%;
    position: absolute;
    top: 14px;
    left: 145px;
}

.review__body p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  width: 80%;
}

#reviewLists li {
  display: none;
  list-style: none;
}
#reviewloadMore {
  color:  #02457A;
  cursor: pointer;
  padding-top: 10px;
  text-transform: uppercase;
}
#reviewloadMore:hover {
  color: black;
}

/*projects list modal*/
.projects-list__col {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.projects-list__col p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  color: #1c1b1d;
  padding: 10px 0;
}

.projects-list__col p:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
  color: #1c1b1d;
}

.projects__header h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  padding: 20px;
}

#projectLists__load li {
  display: none;
  list-style: none;
}
#projectloadMore {
  color:  #02457A;
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
#projectloadMore:hover {
  color: black;
}

/* projects details */
.projects-details__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 25vh;
}

.projects-details__title {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.projects-details__title h2 {
  font-size: 32px;
  color: #1c1b1d;
  font-weight: 500;
  letter-spacing: 1px;
}

.projects-details__inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 30px 20px;
}

.projects-details__row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.projects-details__col {
  flex: 40%;
  max-width: 40%;
  padding: 10px;
}

.projects-details__infoTitle h2 {
  font-size: 24px;
  color: #1c1b1d;
  text-align: center;
  padding:10px 0;
  font-weight: 500;
}

.projects-details__borderRight {
	border-right: 1px solid #02457A;
}

.projects-details__wrapper {
  padding: 10px 20px;
  text-align: center;
}

.projects-details__header h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.projects-details__body p {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1c1b1d;
}

.projects-details__body img{
	width: 50px;
}

.projects-work__header {
  padding: 10px;
}

.projects-work__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 7px 0;
}

.projects-work__col {
	flex: 33.33%;
	max-width: 33.33%;
	align-self: center;
}

.projects-work__col img {
	width: 50px;
}

.projects-work__col h2 {
	font-size: 16px;
  font-weight: 400;
}

.projects-work__header h2 {
  font-size: 24px;
  font-weight: 500;
}

.hr-line {
  max-width: 1200px;
  margin: auto;
  opacity: 0.5;
  padding: 20px 20px;
}

#reviews1__more,#reviews2__more {
  display: none;
}

/* footer */

footer {
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
}
.footer__inner {
  position: relative;
  /*margin:auto;*/
  padding: 0 20px;
}

.footer-float-left {
  float: left;
}

.footer-float-right {
  float: right;
}

.footer__header {
  padding: 20px;
}

.footer__header h2 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.footer__header p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.footer__body {
  padding: 20px 20px 0px 20px;
  clear: both;
}

.footer__body ul li {
  list-style: none;
  padding-top: 5px;
  display: inline-block;
}

.footer__body ul li a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.footer-socials {
  position: relative;
  top: -25px;
  text-align: end;
}

/* modal */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.hide {
  display: none; /* Hidden by default */
}
/* Modal Content */
.modal-content {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.modal-content-projects {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 90%;
}
.modal-content-promotions {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
}

.pj-close,
.promotion-close {
  color: #1c1b1d;
  float: right;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: 80px;
}

.close:hover,
.close:focus,
.pj-close:hover,
.pj-close:focus,
.promotion-close:hover,
.promotion-close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/*promotions modal */
.promotion-modal__header {
  position: relative;
  padding: 30px;
}

.promotion-modal__header h2 {
  font-size: 32px;
  text-align: center;
  color: #1c1b1d;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.promotion-modal__body {
  text-align: center;
}
.promotion-modal__body img {
  width: 50%;
}

.promotion__timer h1 {
  font-size: 24px;
  font-weight: 500;
  padding: 1em;
}

.promotion__timer li {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.promotion__timer li span {
  display: block;
  font-weight: 400;
  font-size: 26px;
}
/* quuote */

.quote-bg {
  background: #15131787;
  clear: both;
}

.quote__header {
  position: relative;
  padding: 30px;
}

.quote__header h2 {
  font-size: 32px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.quote-form__col,
.quote-form-main__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.quote-form-ct__col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.quote-txt_box {
  text-align: end;
}

.quote-txt_box-right {
  text-align: left;
}

.quote-form__col label {
  font-size: 14px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.quote-form__col select {
  font-size: 14px;
  text-align-last: center;
  width: 70%;
  box-sizing: border-box;
  margin: 10px 0 0 0;
  border: 0;
  background: transparent;
  padding: 10px 10px;
  outline: solid;
  color: white;
}

.quote-form-ct__col input,
.quote-form-main__col input {
  text-align: center;
  width: 50%;

  box-sizing: border-box;
  margin: 0 0 10px 0;
  border: 0;
  background: transparent;
  padding: 10px 10px;
  outline: solid;
  color: white;
}

.quote-form-btn {
  text-align: center;
  padding-bottom: 10px;
}

.quote-form-btn input {
  border: 0;
  outline: solid;
  background: transparent;
  color: #fff;
  padding: 12px 50px;
  cursor: pointer;
}

/*blog page transition*/
.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 1;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

/* chat */ 
.chat {
	position: fixed;
	z-index: 1900;
	bottom: 0;
	right: 0;
	padding:30px;
	cursor: pointer;
}

.chatWhatsapp i:hover {
	color: #2980b9;
}

.chatWhatsapp {
	position: fixed;
	z-index: 1900;
	bottom: 110px;
	right: 35px;
	cursor: pointer;
	transition: 3s;
}

.chatWhatsapp i {
	font-size: 50px;
	display: none;
}

.chat .line1,
.chat .line2,
.chat .line3 {
  width: 30px;
  height: 3px;
  background-color: #02457A;
  margin: 5px;
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 32px;
}

.toggleChat .line1 {
  transform: rotate(-45deg) translate(6px, 6px);
  opacity: 1;
}

.toggleChat .line2 {
  opacity: 0;
}

.toggleChat .line3 {
  transform: rotate(45deg) translate(6px, -6px);
  opacity: 1;
}

.chat img {
	width: 50px;
}

.toggleImg .chatImg {
	opacity: 0;
}

.toggleWhatsapp i {
	display: block;
}


.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}